# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**


*   List popular languages for data science
*   List common libraries for data science
*   Demonstrate arithmetic operations using python

The most commonly used languages in data science are:
1.   Python
2.   R
3.   Scala
4.   SQL

Some commonly used libraries include:
1.  Pandas
2.  Numpy
3.  Matplotlib

| Data Science Tools |
|:------------------ |
|1. Jupyter Notebooks|
|2. Apache Zeppelin  |
|3. R Studio         |

Below are a few examples of evaluating arithmetic in Python:

In [3]:
# This is a simple arithmetic operation to multiply then add integers
(3 * 4) + 5

17

In [4]:
# This will convert minutes into hours by dividing by 60
200 / 60

3.3333333333333335

## Author
Deogracious Ken Kikaya